/**
!.gitignore
!bspwm/
!bspwm/**
!bashrc
!bash_profile
!mkshrc
!conky/
!conky/**
!dunst/
!dunst/**
!gitconfig
!htop/
!htop/**
!mimeapps.list
!nvim/
!nvim/**
!profile
!sxhkd/
!sxhkd/**
!tmux.conf
!xinitrc
!Xresources
!zathura/
!zathura/**

!containers/
!containers/**

!script/
!script/**

!tridactyl/
!tridactyl/**

!user-dirs.dirs
!user-dirs.conf

nvim/.netrwhist

!libinput-gestures.conf

!npmrc

!vimb/
!vimb/config
!vimb/style.css

!luakit/
!luakit/**

!sx/
!sx/**

!alacritty/
!alacritty/**

!termite/
!termite/**
!tmux

!awesome/
!awesome/**
!screenlock.png

!rofi/
!rofi/**

!qutebrowser/
!qutebrowser/*

!zsh/
!zsh/.zshrc
!zsh/profile

!gtk-3.0/
!gtk-3.0/settings.ini

!i3/
!i3/*

!git/
!git/**
*~
